# config bbolt
cache:
  path: ./token_cache

# config MySQL
database:
  host:
  port: 3306
  user:
  password:
  db_name:
  ssl_mode: disable
  time_zone: Asia/Shanghai

# config logger
logger:
  level: info
  format: console
  directory:
  max_age: 30
  link_name:
  show_line: false
  encode_level: CapitalLevelEncoder
  stacktrace_key:
  log_in_console: true

# config server listen address
server:
  address:
  port:
  api_base_path:

# configure user auth token settings
token:
  signing_key: <token signing key>
  buffer_time: 21600
  expires_time: 86400

recruitment:
  auth_token:
  enabled: true

email:
  smtp_address: 
  smtp_url: 
  email_from: 
  email_password: 
